$color: rgb(190, 23, 168);

body {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 800px;
  background: #15e696;
  color: $color;

  // transform: translateX(-50%);
  // background: linear-gradient(to bottom, white, rgb(202, 32, 32));
  p{
    background: url('./images/logocopy.jpg');
  }
}
